{% extends "base.html" %}
{% load staticfiles %}
{% block body %}<body class="scroll-animation bg-white_brick_wall">{% endblock %}
{% block content %}  
<main class="main">
        <div class="widget js-widget">  
          <div class="widget__content">
            <div class="slider slider--wide js-dapi-slider slider--v5" data-arrows="true" data-asNavFor="false" data-dots="true" data-fade="true" data-speed="2000" data-autoplay="true" data-autoplaySpeed="4000">
              <div class="slider__block js-slick-slider">
                <div class="slider__item">
                  <div class="slider__preview slider__preview--v1"><img src="{% static 'media-demo/banner/1920x940/banner-1.jpg' %}" alt="" class="slider__preview-img"/>
                  </div>
                  {% for item in welcome %}
                  <div class="slider__caption slider__caption--v2">
                    <div class="slider__title slider__title--v2">{{item.title}}</div>
                    <div class="slider__subtitle slider__subtitle--v2">{{item.content | safe }}</div>
                    <div class="slider__footer">
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="slider__item">
                  <div class="slider__preview slider__preview--v2"><img src="{% static 'media-demo/banner/1920x940/banner-1.jpg'%}" alt="" class="slider__preview-img"/>
                  </div>
                  <div class="slider__caption slider__caption--v1">
                  {% for item in events %}
                    <div class="slider__heading slider__heading--v1">Next Event</div>
                    <h1 class="slider__title slider__title--v1">{{item.name | safe}}</h1>
                    <div style="color: #fff;font-size: 30px;">Organized by</div>
                    <h4 class="slider__subtitle slider__subtitle--v1">{{item.organizer | safe}}.</h4>
                    <div class="slider__footer"><a href="{% url 'event_detail' item.id %}" class="btn--flat slider__more slider__more--v1">Read more</a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="slider__item">
                  <div class="slider__preview slider__preview--v6"><img src="{% static 'media-demo/banner/1920x940/banner-1.jpg' %}" alt="" class="slider__preview-img"/>
                  </div>
                  <div class="slider__caption slider__caption--v6">
                    {% for item in verse %}
                    <div class="slider__heading slider__heading--v6">{{item.verse | safe}}</div>
                    <div class="slider__title slider__title--v6">{{item.verse_text | safe}}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="slider__controls">
                <button class="slider__control slider__control--prev js-slider-prev"></button>
                <button class="slider__control slider__control--next js-slider-next"></button>
              </div>
            </div>
          </div>
        </div>
        {% include 'up_events.html' %}
        {% include 'abt.html' %}
        <div class="widget js-widget widget--landing widget--white widget--event">
          <div class="widget__header">
            <h2 class="widget__title js-widget-title">Meet Our Pastors</h2>
          </div>
          <div class="widget__content">
            <section data-modifier="main" class="event event--main js-event">
              <div class="listing listing--list listing--event">
              {% for item in pastors %} 
                <div class="listing__item">
                  <div class="event__item js-event-item">
                    <div class="event__info"><a class="event__preview"><img src="/static/media-demo/{{item.img_url}}.jpg" alt="" class="event__preview-img"></a>
                      <div class="event__details">
                        <h3 class="event__name"><a href="event_details.html">{{item.name | safe}}</a></h3>
                        <time datetime="2016" class="event__time">
                          <svg class="event__time-svg">
                            <use xlink:href="#icon-phone"></use>
                          </svg>{{item.phone | safe}}
                        </time>
                        <time datetime="2016" class="event__time">
                          <svg class="event__time-svg">
                            <use xlink:href="#icon-mail"></use>
                          </svg>{{item.email | safe}}
                        </time>
                      </div>
                    </div>
                    <div class="event__actions">
                      <a href="{% url 'pastor' item.id %}" class="btn--border-brand event__register">Read More</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </section>
          </div>
        </div>
        </main>
        <div class="widget js-widget widget--subscribe">
        <div class="widget__content">
          <div class="subscribe">
            <h4 class="subscribe__title">Daily Devotions</h4> 
            <div class="subscribe__form">
              <form action="#" method="POST" role="form" class="form form--subscribe js-form-subscribe" id="subscribe">{% csrf_token %} 
                <div class="form-group">
                  <label class="control-label"></label>
                  <input type="email" onfocus="this.value=''" required class="form-control" id="email" placeholder="Your Email">
                </div>
                <button type="submit" class="form__submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}
{% block hymnjs %}<script type="text/javascript" src="{% static 'js/subscribe.js' %}"></script>
<script type="text/javascript">
  console.log('test');
  $(document).ready(function() {
    console.log('test');
  });
</script>

{% endblock %}