{% extends "base.html" %}
{% load static %}
{% block body %}<body class="bg-white_brick_wall">{% endblock %}
{% block content %}
<main class="main main--subpage main--default">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item">{{title}}</li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <!-- BEGIN MAIN HEAD-->
        <header class="main__head">
          <h1 class="main__title">{{title}}</h1>
        </header>
        <!-- END MAIN HEAD-->
        <div class="container">
          <div class="main__wrap">
            <!-- BEGIN MAIN CONTENT-->
            
         <div class="main__content">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--card">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h2 class="widget__title js-widget-title">{{pastors.name | safe }}</h2>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <section class="member member--details">
                    <div class="member__row">
                      <figure class="member__photo"><img src="/static/media-demo/{{pastors.img_url}}.jpg" alt="" class="member__img"></figure>
                      <div class="member__info">
                        <dl class="dl-table">
                          <dt>Title</dt>
                          <dd>{{pastors.role}}</dd>
                          <dt>Ministry</dt>
                          <dd>{{pastors.ministry}}</dd>
                          <dt>Telephone</dt>
                          <dd><a>+233 {{pastors.phone | safe}}</a></dd>
                          <dt>Email</dt>
                          <dd><a>{{pastors.email | safe}}</a></dd>
                        </dl>
                        <!-- <div class="member__social">
                          <div class="social social--left">
                            <div class="social__list"><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>
                          </div>
                        </div> -->
                        <dl class="dl-list">
                          <dt>Languages that <b>{{pastors.name | safe }}</b> can speak:</dt>
                          <dd>{{pastors.languages}}.</dd>
                          <dt>Favorite Bible passage:</dt>
                          <dd>{{pastors.fav_verse}}.</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="member__descr">
                      {{pastors.background | safe }}
                    </div>
                  </section>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
            </div>
            
            
            <!-- END MAIN CONTENT-->
             <aside class="sidebar">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--sidebar">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Pastors</h3>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <ul class="list">
                  {% for item in pastor %}
                    <li class="list__item"><a href="{% url 'pastor' item.id %}" class="list__link">{{ item.name }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
              <!-- END WIDGET-->
            </aside>
          </div>
        </div>
      </main>
    {% endblock %}
