<div class="widget js-widget widget--landing">
          <!-- BEGIN WIDGET HEADER-->
          <div class="widget__header">
            <h2 class="widget__title js-widget-title">Next Upcoming event</h2>
          </div>
          <!-- END WIDGET HEADER-->
          <!-- BEGIN WIDGET CONTENT-->
          <div class="widget__content">
          {% for item in events %}
            <!-- BEGIN nextevent countcircles-->
            <section class="nextevent nextevent--countcircles">
              <!-- BEGIN countdown circles-->
              <div data-end-date="{{ item.begin_date | date:'Y/m/d' }}" class="countdown countdown--circles js-countcircles">
                <input type="text" value="" class="countdown-days">
                <input type="text" value="" class="countdown-hours">
                <input type="text" value="" class="countdown-minutes">
                <input type="text" value="" class="countdown-seconds"><span class="countdown__sep"></span><span class="countdown__label">Days</span><span class="countdown__label">Hours</span><span class="countdown__label">Minutes</span><span class="countdown__label">Seconds</span>
              </div>
              <!-- END countdown circles-->
              <div class="nextevent__details">
              
                <h3 class="nextevent__name"><!-- <a href="event_details.html"> -->{{item.name | safe}}<!-- </a> --></h3>
                <time datetime="2015" class="nextevent__date">{{item.begin_date | date:'Y/m/d' }}</time> 
                <a href="{% url 'event_detail' item.id %}" class="btn--border-brand nextevent__more">More Details</a>
                
              </div>
            </section>
            <!-- END nextevent countcircles-->
            {% endfor %}
          </div>
          <!-- END WIDGET CONTENT-->
        </div>