  {% load static %}
  {% for item in categorys %}
                      <div class="listing__item"> 
                        <div class="event__item js-event-item" style="padding-left: 100px;">
                          <!-- <div class="event__preview"><span class="event__status"></span><a href="{% url 'event_detail' item.id %}" class="event__preview-link"><img src="{% static 'media-demo/post/post-3.jpg' %}" alt="" class="event__preview-img"></a>
                          </div> -->
                          <div class="event__details">
                            <h3 class="event__name"><a href="{% url 'event_detail' item.id %}">{{ item.name }}</a></h3>
                            <h5 class="event__organaizer">Organizer -<strong>{{ item.organizer }}</strong></h5>
                            <div class="event__info"><span class="event__time">
                                <svg class="event__info-svg">
                                  <use xlink:href="#icon-time"></use>
                                </svg>{{ item.begin_date }} to {{item.end_date}}</span>
                              <h6 class="event__location">
                                <svg class="event__info-svg">
                                  <use xlink:href="#icon-location"></use>
                                </svg>{{ item.location }}
                              </h6>
                            </div>
                            <div class="clearfix"></div>
                            {% if not item.is_free  %}
                            <div class="event__price">Price: ${{item.price}}</div>{% endif %}<a href="{% url 'event_detail' item.id %}" class="btn--link event__more">Read more</a>
                          </div>
                          <div class="clearfix"></div>
                          <div class="event__form js-form"></div>
                          <div class="event__map js-map"></div>
                        </div>
                      </div>
                      {% endfor %}
