{% extends "base.html" %} 
{% load staticfiles %}
{% block body %}<body class="">{% endblock %}
{% block content %}
  <main class="main main--subpage main--events">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item"><a href="{% url 'event' %}" class="breadcrumbs__link">{{ title }}</a></li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <!-- BEGIN MAIN HEAD-->
        <header class="main__head">
          <h1 class="main__title">{{ title }}</h1>
        </header>
        <!-- END MAIN HEAD-->
        <div class="container">
          <div class="main__wrap">
            <!-- BEGIN MAIN CONTENT-->
            <div class="main__content">
              <!-- END WIDGET-->
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--listing">
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <div data-modifier="list" data-view="event" class="event event--list js-switch-view js-event">
                    <div class="listing listing--list" id="event-list">
                    {% include "ajax.html" %}
                    </div>
                  </div>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
              <!-- BEGIN PAGINATION-->
              <!-- <nav class="pagination">{% if categorys.has_previous %}<a href="?page={{ categorys.previous_page_number }}" class="pagination__btn">
                  <svg class="pagination__btn-svg">
                    <use xlink:href="#icon-arrow-left"></use>
                  </svg><span class="pagination__btn-span"> Previous sermon</span></a>{% endif %}
                <ul class="pagination__pages">
                {% for num in categorys.paginator.page_range %}
                {% ifequal num categorys.number %}
                  <li class="active"><span>{{num}}</span></li>
                  {% else %}
                  <li><a href="?page={{num}}">{{num}}</a></li>
                  {% endifequal %}
                  {% endfor %}
                </ul>{% if categorys.has_next %}<a href="?page={{ categorys.next_page_number }}" class="pagination__btn"><span class="pagination__btn-span">Next sermon</span>
                  <svg class="pagination__btn-svg">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>{% endif %}
              </nav> -->
              <!-- END PAGINATION-->
            </div>
            <!-- END MAIN CONTENT-->
            <!-- BEGIN SIDEBAR-->
            <aside class="sidebar">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--sidebar">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Event categories</h3>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <ul class="list">
                  {% for item in category %}
                    <li class="list__item"><a href="{% url 'categories_detail' item.title %}" class="list__link">{{ item.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--sidebar">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Inspiration</h3>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                {% for item in word %}
                <div class="widget__content">
                  <div class="event event--sidebar">
                    <div class="event__item">
                      <div class="event__details">
                        <div class="event__intro">
                          {{item.content | safe }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
            </aside>
            <!-- END SIDEBAR-->
          </div>
        </div>
      </main>
{% endblock %}
{% block hymnjs %}<script type="text/javascript" src="{% static 'js/events.js' %}"></script>
<script type="text/javascript">
  console.log('test');
  $(document).ready(function() {
    console.log('test');
    events.init();
  });
</script>

{% endblock %}

