{% extends "base.html" %} 
{% load staticfiles %}
{% block body %}<body class="sidebar-hide">{% endblock %}
{% block content %}
<main class="main main--subpage main--events">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item"><a href="{% url 'event' %}" class="breadcrumbs__link">Our events</a></li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <!-- BEGIN MAIN HEAD-->
        <header class="main__head">
          <h1 class="main__title">Our events</h1>
        </header>
        <!-- END MAIN HEAD-->
        <div class="container">
          <div class="main__wrap"> 
            <!-- BEGIN MAIN CONTENT-->
            <div class="main__content">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--card widget--details">
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <div class="event event--details">
                    <nav class="widget__categories"></nav>
                    <div class="widget__header">
                      <div class="widget__header-title">
                        <h2 class="widget__title">{{events.name|safe }}</h2>
                        <h5 class="event__organaizer">Organizer -<strong>{{events.organizer|safe }}</strong></h5>
                      </div>
                      <!-- <div class="widget__header-column">
                        <h6 class="event__price">Ticket price $100</h6><a class="btn2-flat event__book">Book ticket</a>
                      </div> -->
                    </div>
                    <div class="widget__preview"><span class="event__status"></span><img src="{% static 'media-demo/events/event-details.jpg' %}" alt="" class="widget__preview-img">
                      <div class="collapser js-collapser collapser--event-details">
                        <div class="collapser__header">
                          <h4 class="collapser__title js-collapser-title">Event details</h4>
                        </div>
                        <div class="collapser__content">
                          <div class="event__info"><span class="event__time">
                              <svg class="event__info-svg">
                                <use xlink:href="#icon-time"></use>
                              </svg>{{events.duration}}</span>
                            <address class="event__location">
                              <svg class="event__info-svg">
                                <use xlink:href="#icon-location"></use>
                              </svg>{{events.location}}
                            </address>
                            <h5 class="event__detail-phones">
                              <svg class="event__info-svg">
                                <use xlink:href="#icon-phone"></use>
                              </svg>{{events.mobile}}<a class="event__detail-mail">
                                <svg class="event__info-svg">
                                  <use xlink:href="#icon-mail"></use>
                                </svg>{{events.email}}</a>
                            </h5>
                          </div>
                          <!-- <div class="event__social">
                            <div class="social social2-white">
                              <div class="social__list"><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="widget__description">
                      {{events.details | safe }}
                    </div>
                    <!-- <div class="widget__map">
                      <div class="map map--event">
                        <div class="map__buttons">
                          <button type="button" class="map__change-map js-map-btn active">Directional Map</button>
                        </div>
                        <div class="map__wrap">
                          <div class="map__view js-map-canvas"></div>
                        </div>
                      </div>
                    </div> -->
                    <h5 class="event__mess">Register on the event right now!</h5><a href="#" class="btn--flat event__register js-event-register-btn">Register</a> 
                    <div class="event__form js-event-register-form">
                     <input type="hidden" id="request_context" value="{% if request.is_secure %}https:// {% else %}http://{% endif %}{{ request.get_host }}"/>
                      <!-- BEGIN FORM-->
                      <form  class="form js-parsley form--comment" id="contact" role="form" method="POST">
                      <!-- {% csrf_token %} -->
                        <div class="row">
                          <div class="form-group form-group--lg-4">
                           <!-- <input type="text" id="name" name="name"  /> -->
                            {{form.name}}
                          </div>
                          <div class="form-group form-group--lg-4">
                                                     <!-- <input type="text" id="email" name="email"  /> -->
                            {{form.email}}
                          </div>
                          <div class="form-group form-group--lg-4">
                                                     <!-- <input type="text" id="phone" name="phone"  /> -->
                            {{form.phone}} 
                          </div>
                          <input type="hidden" id="event" name="event" value="{{ events.id }}" />
                        </div>
                        <div class="form__buttons">
                          <button type="submit"  class="btn--flat form__btn">Submit</button>
                        </div>
                      </form>
                      <!-- END FORM-->
                      <!-- end of block .comment__form-->
                    </div>
                  </div>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
              <!-- BEGIN PAGINATION-->
              <!-- <nav class="pagination"><a class="pagination__btn">
                  <svg class="pagination__btn-svg">
                    <use xlink:href="#icon-arrow-left"></use>
                  </svg><span class="pagination__btn-span"> Previous Event</span></a><a class="pagination__btn"><span class="pagination__btn-span">Next Event</span>
                  <svg class="pagination__btn-svg">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg></a>
              </nav> -->
              <!-- END PAGINATION-->
              <!-- BEGIN WIDGET-->
              
              <!-- END WIDGET-->
            </div>
            <!-- END MAIN CONTENT-->
            <!-- BEGIN SIDEBAR-->
            <aside class="sidebar">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--sidebar">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Event categories</h3>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <ul class="list">
                  {% for item in categories %}
                    <li class="list__item"><a href="{% url 'categories_detail' item.title %}" class="list__link">{{ item.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--sidebar">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Inspiration</h3>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                {% for item in word %}
                <div class="widget__content">
                  <div class="event event--sidebar">
                    <div class="event__item">
                      <div class="event__details">
                        <div class="event__intro">
                          {{item.content | safe }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
            </aside>
            <!-- END SIDEBAR-->
          </div>
        </div>
      </main>
{% endblock %}
{% block hymnjs %}<script type="text/javascript" src="{% static 'js/donate.js' %}"></script>
<script type="text/javascript">
  console.log('test');
  $(document).ready(function() {
    console.log('test');
    // hymn.init();
  });
</script>

{% endblock %}