{% extends "base.html" %}
{% load staticfiles %}
{% block body %}<body class="bg-white_brick_wall">{% endblock %}
{% block content %}
<main class="main main--subpage main--default">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs"> 
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item">{{title}}</li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <!-- BEGIN MAIN HEAD-->
        <header class="main__head">
          <h1 class="main__title">{{ title }}</h1>
        </header>
        <!-- END MAIN HEAD-->
        <div class="container">
          <div class="main__wrap">
          <input type="hidden" value="{{ api_token }}" id="api_token"/>
                <input type="hidden" id="request_context" value="{% if request.is_secure %}https:// {% else %}http://{% endif %}{{ request.get_host }}"/>
            <!-- BEGIN MAIN CONTENT-->
            {% for item in devotions %}
            <div class="main__content">
              <!-- BEGIN WIDGET-->
              <div class="widget js-widget widget--card">
                <!-- BEGIN WIDGET HEADER-->
                <div class="widget__header">
                  <h2 class="widget__title js-widget-title" id="title">{{ item.title | safe }}</h2>
                </div>
                <!-- END WIDGET HEADER-->
                <!-- BEGIN WIDGET CONTENT-->
                <div class="widget__content">
                  <div class="post post--details">
                    <div class="post__description" id="content">
                       {{ item.content | safe }}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body" id="principle">
                    {{item.principle}}
                  </div>
                </div>
                <!-- END WIDGET CONTENT-->
              </div>
              <!-- END WIDGET-->
            </div>
            {% endfor %}
            <!-- END MAIN CONTENT-->
            <aside class="sidebar">
              <div class="widget js-widget widget--sidebar">
                <div class="widget__header">
                  <h3 class="widget__title js-widget-title">Previous Devotions</h3>
                </div>
                <div class="widget__content">
                  <ul class="list" id="list">
                  {% for item in pre %}
                    <li class="list__item"><a data-id={{item.id}} class="list__link devotion">{{ item.date_posted }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </main>
{% endblock %}
{% block hymnjs %}<script type="text/javascript" src="{% static 'js/devotions.js' %}"></script>
<script type="text/javascript">
  console.log('test');
  // $(document).ready(function() {
  //   console.log('test');
  //   hymn.init();
  // });
</script>

{% endblock %}
