{% extends "base.html" %}
{% load staticfiles %}
{% block body %}<body class="sidebar-hide bg-white_brick_wall">{% endblock %}
{% block content %}
<main class="main main--subpage main--sermons">
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="{% url 'home' %}" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item"><a href="{% url 'sermon' %}" class="breadcrumbs__link">{{title}}</a></li>
              <li class="breadcrumbs__item">Sermon Detail</li>
            </ul>
          </div>
        </nav>
        <header class="main__head">
          <h1 class="main__title">{{title}}</h1>
        </header>
        <div class="container">
          <div class="main__wrap">
            <div class="main__content">
              <div class="widget js-widget widget--card widget--details">
                <div class="widget__content">
                  <div class="sermon sermon--details">
                    <div class="widget__header" style="text-align: center;">
                      <time datetime="2016" class="sermon__time"><svg class="event__time-svg"><use xlink:href="#icon-time"></use></svg>{{ sermons.date }}</time>
                    </div>
                    <div class="widget__header-title" style="text-align: center;">
                      <h2 class="widget__title">{{ sermons.title | safe }}</h2>
                    </div>
                    <div class="sermon__speakers" style="text-align: center;"><svg class="event__time-svg"><use xlink:href="#icon-user"></use></svg>Speaker - <a>Pastor {{ sermons.author | safe }}</a></div>
                    <div class="sermon__speakers" style="text-align: center;"><svg class="event__time-svg"><use xlink:href="#icon-doc"></use></svg>Theme Verse - {{ sermons.verse | safe }}</div>
                    <blockquote class="sermon__speakers" style="text-align: center;text-align:justify;">{{ sermons.verse_text | safe }}</blockquote> 
                    </div>
                    <div class="widget__description" style="padding-left: 50px;text-align: justify;">
                      <p>{{ sermons.content | safe }}</p>
                    </div>
                  </div>
                </div>
              <div class="widget js-widget widget--card">
                <div class="widget__content">
                  <div class="comment comment--list">
                  {% with comments.count as total_comments %}
                    <header class="comment__header">
                    <div id="comments_comments">
                      <h6 class="comment__header-comment"><i class="fa fa-comment"></i>Comment{{ total_comments|pluralize }} ({{ total_comments }})</h6>
                    </div>
                    </header>
                    {% endwith %}
                    <div class="comment__list" id="comments">
                    </div> 
                  </div>
                </div>
              </div>
              <div class="widget js-widget widget--card">
                <div class="widget__header">
                  <h2 class="widget__title js-widget-title">Leave a comment</h2>
                </div>
                <div class="widget__content">
                  <div class="comment__form">
                  <input type="hidden" value="{{ api_token }}" id="api_token"/>
                  <input type="hidden" id="request_context" value="{% if request.is_secure %}https:// {% else %}http://{% endif %}{{ request.get_host }}"/>
                    <form method="POST" action="#" id="sermon_detail" class="form js-parsley form--comment" role="form">{% csrf_token %}
                      <div class="row">
                        <div class="form-group form-group--lg-4">
                          {{ form.author }}
                          {{ form.author.errors }} 
                        </div>
                        </div>
                      <div class="row">
                        <div class="form-group form-group--lg-12">
                          {{ form.content }}
                          {{ form.content.errors }}
                        </div>
                      </div>
                      <input type="hidden" id="sermon" name="sermon" value="{{ sermons.id }}" />
                      <div class="form__buttons">
                        <button type="submit" id="sermon_comment" class="btn--flat form__btn">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <aside class="sidebar">
            </aside>
          </div>
        </div>
      </main>
{% endblock %}
{% block hymnjs %}<script type="text/javascript" src="{% static 'js/sermon_detail.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    comments.init();
  });
</script>

{% endblock %}